In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
flights=pd.read_csv('flights.csv')#reading the data
flights

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,PDX,ANC,194.0,1542,0.0,1.0
1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,SEA,CLT,252.0,2279,0.0,4.0
2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,PDX,IAH,201.0,1825,0.0,8.0
3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,PDX,CLT,251.0,2282,0.0,28.0
4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,SEA,ANC,201.0,1448,0.0,34.0
5,2014,1,1,37.0,82.0,747.0,88.0,DL,N806DN,1823,SEA,DTW,224.0,1927,0.0,37.0
6,2014,1,1,346.0,227.0,936.0,219.0,UA,N14219,1481,SEA,ORD,202.0,1721,3.0,46.0
7,2014,1,1,526.0,-4.0,1148.0,15.0,UA,N813UA,229,PDX,IAH,217.0,1825,5.0,26.0
8,2014,1,1,527.0,7.0,917.0,24.0,UA,N75433,1576,SEA,DEN,136.0,1024,5.0,27.0
9,2014,1,1,536.0,1.0,1334.0,-6.0,UA,N574UA,478,SEA,EWR,268.0,2402,5.0,36.0
10,2014,1,1,541.0,1.0,911.0,4.0,UA,N36476,1569,PDX,DEN,130.0,991,5.0,41.0
11,2014,1,1,549.0,24.0,907.0,12.0,US,N548UW,649,PDX,PHX,122.0,1009,5.0,49.0
12,2014,1,1,550.0,0.0,837.0,-12.0,DL,N660DL,1634,SEA,SLC,82.0,689,5.0,50.0
13,2014,1,1,557.0,-3.0,1134.0,-16.0,AA,N3JLAA,1094,SEA,DFW,184.0,1660,5.0,57.0
14,2014,1,1,557.0,-3.0,825.0,-25.0,AS,N562AS,81,SEA,ANC,188.0,1448,5.0,57.0
15,2014,1,1,558.0,-2.0,801.0,-2.0,AS,N402AS,200,SEA,SJC,100.0,697,5.0,58.0
16,2014,1,1,559.0,-1.0,916.0,-9.0,F9,N210FR,796,PDX,DEN,125.0,991,5.0,59.0
17,2014,1,1,600.0,0.0,1151.0,-19.0,AA,N3JFAA,2240,SEA,ORD,206.0,1721,6.0,0.0
18,2014,1,1,600.0,-10.0,842.0,-8.0,AS,N786AS,426,SEA,LAX,125.0,954,6.0,0.0
19,2014,1,1,602.0,-3.0,943.0,5.0,F9,N201FR,144,SEA,DEN,129.0,1024,6.0,2.0
20,2014,1,1,602.0,-3.0,1204.0,7.0,UA,N77295,1573,PDX,ORD,203.0,1739,6.0,2.0
21,2014,1,1,603.0,-2.0,755.0,-17.0,AS,N577AS,344,SEA,OAK,94.0,672,6.0,3.0
22,2014,1,1,603.0,-3.0,1202.0,-2.0,UA,N37290,1136,SEA,ORD,203.0,1721,6.0,3.0
23,2014,1,1,606.0,-4.0,806.0,-19.0,AS,N525AS,308,SEA,SFO,98.0,679,6.0,6.0
24,2014,1,1,606.0,6.0,746.0,3.0,AS,N796AS,406,PDX,SJC,87.0,569,6.0,6.0
25,2014,1,1,614.0,-1.0,850.0,-2.0,AS,N607AS,524,SEA,SNA,135.0,978,6.0,14.0
26,2014,1,1,617.0,2.0,850.0,-12.0,AS,N579AS,494,SEA,SAN,131.0,1050,6.0,17.0
27,2014,1,1,618.0,-2.0,1135.0,-30.0,AA,N4XMAA,1650,PDX,DFW,184.0,1616,6.0,18.0
28,2014,1,1,619.0,-6.0,822.0,-7.0,VX,N841VA,751,SEA,SFO,101.0,679,6.0,19.0
29,2014,1,1,620.0,-2.0,905.0,0.0,OO,N804SK,4693,SEA,LAX,125.0,954,6.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162019,2014,9,30,2115.0,0.0,2200.0,-7.0,OO,N810SK,4612,SEA,PDX,30.0,129,21.0,15.0
162020,2014,9,30,2119.0,-11.0,546.0,8.0,B6,N526JB,264,SEA,JFK,301.0,2422,21.0,19.0
162021,2014,9,30,2127.0,-3.0,29.0,18.0,AS,N317AS,731,SEA,ANC,226.0,1448,21.0,27.0
162022,2014,9,30,2130.0,-14.0,551.0,0.0,UA,N462UA,554,PDX,EWR,298.0,2434,21.0,30.0
162023,2014,9,30,2139.0,-1.0,2228.0,-10.0,AS,N799AS,694,SEA,GEG,36.0,224,21.0,39.0
162024,2014,9,30,2157.0,-2.0,616.0,2.0,DL,N655DL,1542,SEA,JFK,300.0,2422,21.0,57.0
162025,2014,9,30,2209.0,-1.0,607.0,9.0,US,N199UW,624,SEA,CLT,280.0,2279,22.0,9.0
162026,2014,9,30,2225.0,-10.0,124.0,-3.0,AS,N461AS,143,PDX,ANC,226.0,1542,22.0,25.0
162027,2014,9,30,2228.0,-2.0,2311.0,-7.0,AS,N583AS,412,SEA,PDX,31.0,129,22.0,28.0
162028,2014,9,30,2239.0,-1.0,435.0,-25.0,UA,N37408,1129,SEA,IAH,212.0,1874,22.0,39.0
162029,2014,9,30,2244.0,-6.0,711.0,12.0,B6,N523JB,498,SEA,BOS,304.0,2496,22.0,44.0
162030,2014,9,30,2245.0,0.0,652.0,27.0,DL,N130DL,1629,SEA,ATL,247.0,2182,22.0,45.0
162031,2014,9,30,2245.0,-2.0,607.0,-15.0,DL,N6716C,2497,PDX,ATL,246.0,2172,22.0,45.0
162032,2014,9,30,2248.0,0.0,433.0,-5.0,UA,N18223,1167,SEA,ORD,209.0,1721,22.0,48.0
162033,2014,9,30,2255.0,-5.0,145.0,7.0,AS,N318AS,119,SEA,ANC,209.0,1448,22.0,55.0
162034,2014,9,30,2257.0,-3.0,604.0,-9.0,DL,N374DA,761,SEA,DTW,230.0,1927,22.0,57.0
162035,2014,9,30,2303.0,-7.0,200.0,0.0,AS,N618AS,127,SEA,FAI,215.0,1533,23.0,3.0
162036,2014,9,30,2317.0,-3.0,732.0,19.0,UA,N27421,1246,SEA,IAD,293.0,2306,23.0,17.0
162037,2014,9,30,2320.0,20.0,10.0,16.0,AS,N713AS,698,SEA,GEG,36.0,224,23.0,20.0
162038,2014,9,30,2325.0,0.0,446.0,-19.0,AA,N3JKAA,1230,SEA,DFW,187.0,1660,23.0,25.0
162039,2014,9,30,2326.0,-4.0,513.0,-5.0,UA,N38473,1538,PDX,ORD,209.0,1739,23.0,26.0
162040,2014,9,30,2336.0,124.0,729.0,116.0,UA,N38443,1695,SEA,EWR,277.0,2402,23.0,36.0
162041,2014,9,30,2344.0,-1.0,527.0,-5.0,UA,N33286,1215,SEA,ORD,203.0,1721,23.0,44.0
162042,2014,9,30,2347.0,-3.0,229.0,-2.0,AS,N763AS,121,SEA,ANC,209.0,1448,23.0,47.0
162043,2014,9,30,2349.0,-1.0,514.0,-19.0,AS,N409AS,660,SEA,DFW,188.0,1660,23.0,49.0
162044,2014,9,30,2357.0,-2.0,545.0,-20.0,UA,N477UA,479,PDX,IAH,210.0,1825,23.0,57.0
162045,2014,9,30,2359.0,4.0,734.0,-1.0,DL,N137DL,1929,SEA,ATL,244.0,2182,23.0,59.0
162046,2014,9,30,NaN,NaN,NaN,NaN,AS,N530AS,470,SEA,SAN,NaN,1050,NaN,NaN
162047,2014,9,30,NaN,NaN,NaN,NaN,US,NaN,494,PDX,PHX,NaN,1009,NaN,NaN
162048,2014,9,30,NaN,NaN,NaN,NaN,WN,N790SW,427,SEA,SMF,NaN,605,NaN,NaN

In [3]:
flights.info()# to identify what type of data is stored

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162049 entries, 0 to 162048
Data columns (total 16 columns):
year         162049 non-null int64
month        162049 non-null int64
day          162049 non-null int64
dep_time     161192 non-null float64
dep_delay    161192 non-null float64
arr_time     161061 non-null float64
arr_delay    160748 non-null float64
carrier      162049 non-null object
tailnum      161801 non-null object
flight       162049 non-null int64
origin       162049 non-null object
dest         162049 non-null object
air_time     160748 non-null float64
distance     162049 non-null int64
hour         161192 non-null float64
minute       161192 non-null float64
dtypes: float64(7), int64(5), object(4)
memory usage: 19.8+ MB

In [4]:
a=flights[['carrier','tailnum','origin','dest']]# to call particular items from the above given data
a

       carrier tailnum origin dest
0           AS  N508AS    PDX  ANC
1           US  N195UW    SEA  CLT
2           UA  N37422    PDX  IAH
3           US  N547UW    PDX  CLT
4           AS  N762AS    SEA  ANC
5           DL  N806DN    SEA  DTW
6           UA  N14219    SEA  ORD
7           UA  N813UA    PDX  IAH
8           UA  N75433    SEA  DEN
9           UA  N574UA    SEA  EWR
10          UA  N36476    PDX  DEN
11          US  N548UW    PDX  PHX
12          DL  N660DL    SEA  SLC
13          AA  N3JLAA    SEA  DFW
14          AS  N562AS    SEA  ANC
15          AS  N402AS    SEA  SJC
16          F9  N210FR    PDX  DEN
17          AA  N3JFAA    SEA  ORD
18          AS  N786AS    SEA  LAX
19          F9  N201FR    SEA  DEN
20          UA  N77295    PDX  ORD
21          AS  N577AS    SEA  OAK
22          UA  N37290    SEA  ORD
23          AS  N525AS    SEA  SFO
24          AS  N796AS    PDX  SJC
25          AS  N607AS    SEA  SNA
26          AS  N579AS    SEA  SAN
27          AA  N4XMAA    PDX  DFW
28          VX  N841VA    SEA  SFO
29          OO  N804SK    SEA  LAX
...        ...     ...    ...  ...
162019      OO  N810SK    SEA  PDX
162020      B6  N526JB    SEA  JFK
162021      AS  N317AS    SEA  ANC
162022      UA  N462UA    PDX  EWR
162023      AS  N799AS    SEA  GEG
162024      DL  N655DL    SEA  JFK
162025      US  N199UW    SEA  CLT
162026      AS  N461AS    PDX  ANC
162027      AS  N583AS    SEA  PDX
162028      UA  N37408    SEA  IAH
162029      B6  N523JB    SEA  BOS
162030      DL  N130DL    SEA  ATL
162031      DL  N6716C    PDX  ATL
162032      UA  N18223    SEA  ORD
162033      AS  N318AS    SEA  ANC
162034      DL  N374DA    SEA  DTW
162035      AS  N618AS    SEA  FAI
162036      UA  N27421    SEA  IAD
162037      AS  N713AS    SEA  GEG
162038      AA  N3JKAA    SEA  DFW
162039      UA  N38473    PDX  ORD
162040      UA  N38443    SEA  EWR
162041      UA  N33286    SEA  ORD
162042      AS  N763AS    SEA  ANC
162043      AS  N409AS    SEA  DFW
162044      UA  N477UA    PDX  IAH
162045      DL  N137DL    SEA  ATL
162046      AS  N530AS    SEA  SAN
162047      US     NaN    PDX  PHX
162048      WN  N790SW    SEA  SMF

[162049 rows x 4 columns]

In [5]:
a.head()#to display only 5 rows

  carrier tailnum origin dest
0      AS  N508AS    PDX  ANC
1      US  N195UW    SEA  CLT
2      UA  N37422    PDX  IAH
3      US  N547UW    PDX  CLT
4      AS  N762AS    SEA  ANC

In [6]:
a.tail()#to display last 5 rows

       carrier tailnum origin dest
162044      UA  N477UA    PDX  IAH
162045      DL  N137DL    SEA  ATL
162046      AS  N530AS    SEA  SAN
162047      US     NaN    PDX  PHX
162048      WN  N790SW    SEA  SMF

In [7]:
b=flights[['carrier','tailnum','origin','dest']].copy()# to call particular items from the above given data
b.head()

  carrier tailnum origin dest
0      AS  N508AS    PDX  ANC
1      US  N195UW    SEA  CLT
2      UA  N37422    PDX  IAH
3      US  N547UW    PDX  CLT
4      AS  N762AS    SEA  ANC

In [8]:
c=flights.select_dtypes(include=['object']).copy()# used when ther are more than 4 columns present taken aside only the object column
c.head()

  carrier tailnum origin dest
0      AS  N508AS    PDX  ANC
1      US  N195UW    SEA  CLT
2      UA  N37422    PDX  IAH
3      US  N547UW    PDX  CLT
4      AS  N762AS    SEA  ANC

## manual method

replace_map= {'carrier':{'AS': 1,'WN':2,'OO':3,'US': 4,'UA': 5,'DL': 6,'AA':7,'B6':8,'VX':9,'F9':10,'HA':11}}
replace_map
flights_replace=c.copy()
flights_replace.head()
flights_replace.replace(replace_map,inplace=True)
flights_replace.head()

In [9]:
replace_map= {'carrier':{'AS': 1,'WN':2,'OO':3,'US': 4,'UA': 5,'DL': 6,'AA':7,'B6':8,'VX':9,'F9':10,'HA':11}}
flights_replace=c.copy() 
flights_replace.head()
flights_replace.replace(replace_map,inplace=True)
flights_replace.head()

   carrier tailnum origin dest
0        1  N508AS    PDX  ANC
1        4  N195UW    SEA  CLT
2        5  N37422    PDX  IAH
3        4  N547UW    PDX  CLT
4        1  N762AS    SEA  ANC

In [10]:
flights_replace.info()#the carrier changed to int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162049 entries, 0 to 162048
Data columns (total 4 columns):
carrier    162049 non-null int64
tailnum    161801 non-null object
origin     162049 non-null object
dest       162049 non-null object
dtypes: int64(1), object(3)
memory usage: 4.9+ MB

## dictionary comprehension

In [11]:
labels=flights['carrier'].astype('category').cat.categories.tolist()
labels
replace_map_comp={'carrier':{k:v for k ,v in zip(labels,list(range(1,len(labels)+1)))}}
flights_replace1=c.copy()
flights_replace1.replace(replace_map_comp, inplace=True)
flights_replace1
#encoding the data

        carrier tailnum origin dest
0             2  N508AS    PDX  ANC
1             9  N195UW    SEA  CLT
2             8  N37422    PDX  IAH
3             9  N547UW    PDX  CLT
4             2  N762AS    SEA  ANC
5             4  N806DN    SEA  DTW
6             8  N14219    SEA  ORD
7             8  N813UA    PDX  IAH
8             8  N75433    SEA  DEN
9             8  N574UA    SEA  EWR
10            8  N36476    PDX  DEN
11            9  N548UW    PDX  PHX
12            4  N660DL    SEA  SLC
13            1  N3JLAA    SEA  DFW
14            2  N562AS    SEA  ANC
15            2  N402AS    SEA  SJC
16            5  N210FR    PDX  DEN
17            1  N3JFAA    SEA  ORD
18            2  N786AS    SEA  LAX
19            5  N201FR    SEA  DEN
20            8  N77295    PDX  ORD
21            2  N577AS    SEA  OAK
22            8  N37290    SEA  ORD
23            2  N525AS    SEA  SFO
24            2  N796AS    PDX  SJC
25            2  N607AS    SEA  SNA
26            2  N579AS    SEA  SAN
27            1  N4XMAA    PDX  DFW
28           10  N841VA    SEA  SFO
29            7  N804SK    SEA  LAX
...         ...     ...    ...  ...
162019        7  N810SK    SEA  PDX
162020        3  N526JB    SEA  JFK
162021        2  N317AS    SEA  ANC
162022        8  N462UA    PDX  EWR
162023        2  N799AS    SEA  GEG
162024        4  N655DL    SEA  JFK
162025        9  N199UW    SEA  CLT
162026        2  N461AS    PDX  ANC
162027        2  N583AS    SEA  PDX
162028        8  N37408    SEA  IAH
162029        3  N523JB    SEA  BOS
162030        4  N130DL    SEA  ATL
162031        4  N6716C    PDX  ATL
162032        8  N18223    SEA  ORD
162033        2  N318AS    SEA  ANC
162034        4  N374DA    SEA  DTW
162035        2  N618AS    SEA  FAI
162036        8  N27421    SEA  IAD
162037        2  N713AS    SEA  GEG
162038        1  N3JKAA    SEA  DFW
162039        8  N38473    PDX  ORD
162040        8  N38443    SEA  EWR
162041        8  N33286    SEA  ORD
162042        2  N763AS    SEA  ANC
162043        2  N409AS    SEA  DFW
162044        8  N477UA    PDX  IAH
162045        4  N137DL    SEA  ATL
162046        2  N530AS    SEA  SAN
162047        9     NaN    PDX  PHX
162048       11  N790SW    SEA  SMF

[162049 rows x 4 columns]

## type casting (changing carrier and origin to category )

In [12]:
flights_lc=c.copy()
flights_lc['carrier']=flights_replace1['carrier'].astype('category')
flights_lc['origin']=flights_replace1['origin'].astype('category')
print(flights_lc.dtypes)

carrier    category
tailnum      object
origin     category
dest         object
dtype: object

In [13]:
#counting the number of flights in carrier foorm origin
c.groupby(['origin','carrier']).count()

                tailnum   dest
origin carrier
PDX    AA          2187   2187
       AS         12844  12844
       B6          1287   1287
       DL          5168   5168
       F9          1357   1362
       HA           365    365
       OO          9841   9841
       UA          6009   6061
       US          2337   2361
       VX           666    666
       WN         11190  11193
SEA    AA          5398   5399
       AS         49616  49616
       B6          2253   2253
       DL         11548  11548
       F9          1332   1336
       HA           729    730
       OO          8869   8869
       UA         10487  10610
       US          3554   3585
       VX          2606   2606
       WN         12158  12162

## prove that data frame with category dtype is faster than object type
#calculate the same code on category calculate the time and then calculate the same on objects

In [14]:
import time
%timeit flights_lc.groupby(['origin','carrier']).count()#category changed file

49.9 ms Â± 1.54 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [15]:
import time
%timeit c.groupby(['origin','carrier']).count()# object original file

76 ms Â± 1.29 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

#### hence category type is faster than object type

# label encoding(second method for replacing)

In [16]:
le=flights_lc.copy()
le['carrier']=le['carrier'].cat.codes
le

        carrier tailnum origin dest
0             1  N508AS    PDX  ANC
1             8  N195UW    SEA  CLT
2             7  N37422    PDX  IAH
3             8  N547UW    PDX  CLT
4             1  N762AS    SEA  ANC
5             3  N806DN    SEA  DTW
6             7  N14219    SEA  ORD
7             7  N813UA    PDX  IAH
8             7  N75433    SEA  DEN
9             7  N574UA    SEA  EWR
10            7  N36476    PDX  DEN
11            8  N548UW    PDX  PHX
12            3  N660DL    SEA  SLC
13            0  N3JLAA    SEA  DFW
14            1  N562AS    SEA  ANC
15            1  N402AS    SEA  SJC
16            4  N210FR    PDX  DEN
17            0  N3JFAA    SEA  ORD
18            1  N786AS    SEA  LAX
19            4  N201FR    SEA  DEN
20            7  N77295    PDX  ORD
21            1  N577AS    SEA  OAK
22            7  N37290    SEA  ORD
23            1  N525AS    SEA  SFO
24            1  N796AS    PDX  SJC
25            1  N607AS    SEA  SNA
26            1  N579AS    SEA  SAN
27            0  N4XMAA    PDX  DFW
28            9  N841VA    SEA  SFO
29            6  N804SK    SEA  LAX
...         ...     ...    ...  ...
162019        6  N810SK    SEA  PDX
162020        2  N526JB    SEA  JFK
162021        1  N317AS    SEA  ANC
162022        7  N462UA    PDX  EWR
162023        1  N799AS    SEA  GEG
162024        3  N655DL    SEA  JFK
162025        8  N199UW    SEA  CLT
162026        1  N461AS    PDX  ANC
162027        1  N583AS    SEA  PDX
162028        7  N37408    SEA  IAH
162029        2  N523JB    SEA  BOS
162030        3  N130DL    SEA  ATL
162031        3  N6716C    PDX  ATL
162032        7  N18223    SEA  ORD
162033        1  N318AS    SEA  ANC
162034        3  N374DA    SEA  DTW
162035        1  N618AS    SEA  FAI
162036        7  N27421    SEA  IAD
162037        1  N713AS    SEA  GEG
162038        0  N3JKAA    SEA  DFW
162039        7  N38473    PDX  ORD
162040        7  N38443    SEA  EWR
162041        7  N33286    SEA  ORD
162042        1  N763AS    SEA  ANC
162043        1  N409AS    SEA  DFW
162044        7  N477UA    PDX  IAH
162045        3  N137DL    SEA  ATL
162046        1  N530AS    SEA  SAN
162047        8     NaN    PDX  PHX
162048       10  N790SW    SEA  SMF

[162049 rows x 4 columns]

In [17]:

lc=le.copy()
print(lc.isnull().sum())

carrier      0
tailnum    248
origin       0
dest         0
dtype: int64

In [18]:
# fill na function is used to fill the null values
flights.fillna(0)# replacing Nan with static value 0

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,PDX,ANC,194.0,1542,0.0,1.0
1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,SEA,CLT,252.0,2279,0.0,4.0
2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,PDX,IAH,201.0,1825,0.0,8.0
3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,PDX,CLT,251.0,2282,0.0,28.0
4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,SEA,ANC,201.0,1448,0.0,34.0
5,2014,1,1,37.0,82.0,747.0,88.0,DL,N806DN,1823,SEA,DTW,224.0,1927,0.0,37.0
6,2014,1,1,346.0,227.0,936.0,219.0,UA,N14219,1481,SEA,ORD,202.0,1721,3.0,46.0
7,2014,1,1,526.0,-4.0,1148.0,15.0,UA,N813UA,229,PDX,IAH,217.0,1825,5.0,26.0
8,2014,1,1,527.0,7.0,917.0,24.0,UA,N75433,1576,SEA,DEN,136.0,1024,5.0,27.0
9,2014,1,1,536.0,1.0,1334.0,-6.0,UA,N574UA,478,SEA,EWR,268.0,2402,5.0,36.0
10,2014,1,1,541.0,1.0,911.0,4.0,UA,N36476,1569,PDX,DEN,130.0,991,5.0,41.0
11,2014,1,1,549.0,24.0,907.0,12.0,US,N548UW,649,PDX,PHX,122.0,1009,5.0,49.0
12,2014,1,1,550.0,0.0,837.0,-12.0,DL,N660DL,1634,SEA,SLC,82.0,689,5.0,50.0
13,2014,1,1,557.0,-3.0,1134.0,-16.0,AA,N3JLAA,1094,SEA,DFW,184.0,1660,5.0,57.0
14,2014,1,1,557.0,-3.0,825.0,-25.0,AS,N562AS,81,SEA,ANC,188.0,1448,5.0,57.0
15,2014,1,1,558.0,-2.0,801.0,-2.0,AS,N402AS,200,SEA,SJC,100.0,697,5.0,58.0
16,2014,1,1,559.0,-1.0,916.0,-9.0,F9,N210FR,796,PDX,DEN,125.0,991,5.0,59.0
17,2014,1,1,600.0,0.0,1151.0,-19.0,AA,N3JFAA,2240,SEA,ORD,206.0,1721,6.0,0.0
18,2014,1,1,600.0,-10.0,842.0,-8.0,AS,N786AS,426,SEA,LAX,125.0,954,6.0,0.0
19,2014,1,1,602.0,-3.0,943.0,5.0,F9,N201FR,144,SEA,DEN,129.0,1024,6.0,2.0
20,2014,1,1,602.0,-3.0,1204.0,7.0,UA,N77295,1573,PDX,ORD,203.0,1739,6.0,2.0
21,2014,1,1,603.0,-2.0,755.0,-17.0,AS,N577AS,344,SEA,OAK,94.0,672,6.0,3.0
22,2014,1,1,603.0,-3.0,1202.0,-2.0,UA,N37290,1136,SEA,ORD,203.0,1721,6.0,3.0
23,2014,1,1,606.0,-4.0,806.0,-19.0,AS,N525AS,308,SEA,SFO,98.0,679,6.0,6.0
24,2014,1,1,606.0,6.0,746.0,3.0,AS,N796AS,406,PDX,SJC,87.0,569,6.0,6.0
25,2014,1,1,614.0,-1.0,850.0,-2.0,AS,N607AS,524,SEA,SNA,135.0,978,6.0,14.0
26,2014,1,1,617.0,2.0,850.0,-12.0,AS,N579AS,494,SEA,SAN,131.0,1050,6.0,17.0
27,2014,1,1,618.0,-2.0,1135.0,-30.0,AA,N4XMAA,1650,PDX,DFW,184.0,1616,6.0,18.0
28,2014,1,1,619.0,-6.0,822.0,-7.0,VX,N841VA,751,SEA,SFO,101.0,679,6.0,19.0
29,2014,1,1,620.0,-2.0,905.0,0.0,OO,N804SK,4693,SEA,LAX,125.0,954,6.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162019,2014,9,30,2115.0,0.0,2200.0,-7.0,OO,N810SK,4612,SEA,PDX,30.0,129,21.0,15.0
162020,2014,9,30,2119.0,-11.0,546.0,8.0,B6,N526JB,264,SEA,JFK,301.0,2422,21.0,19.0
162021,2014,9,30,2127.0,-3.0,29.0,18.0,AS,N317AS,731,SEA,ANC,226.0,1448,21.0,27.0
162022,2014,9,30,2130.0,-14.0,551.0,0.0,UA,N462UA,554,PDX,EWR,298.0,2434,21.0,30.0
162023,2014,9,30,2139.0,-1.0,2228.0,-10.0,AS,N799AS,694,SEA,GEG,36.0,224,21.0,39.0
162024,2014,9,30,2157.0,-2.0,616.0,2.0,DL,N655DL,1542,SEA,JFK,300.0,2422,21.0,57.0
162025,2014,9,30,2209.0,-1.0,607.0,9.0,US,N199UW,624,SEA,CLT,280.0,2279,22.0,9.0
162026,2014,9,30,2225.0,-10.0,124.0,-3.0,AS,N461AS,143,PDX,ANC,226.0,1542,22.0,25.0
162027,2014,9,30,2228.0,-2.0,2311.0,-7.0,AS,N583AS,412,SEA,PDX,31.0,129,22.0,28.0
162028,2014,9,30,2239.0,-1.0,435.0,-25.0,UA,N37408,1129,SEA,IAH,212.0,1874,22.0,39.0
162029,2014,9,30,2244.0,-6.0,711.0,12.0,B6,N523JB,498,SEA,BOS,304.0,2496,22.0,44.0
162030,2014,9,30,2245.0,0.0,652.0,27.0,DL,N130DL,1629,SEA,ATL,247.0,2182,22.0,45.0
162031,2014,9,30,2245.0,-2.0,607.0,-15.0,DL,N6716C,2497,PDX,ATL,246.0,2172,22.0,45.0
162032,2014,9,30,2248.0,0.0,433.0,-5.0,UA,N18223,1167,SEA,ORD,209.0,1721,22.0,48.0
162033,2014,9,30,2255.0,-5.0,145.0,7.0,AS,N318AS,119,SEA,ANC,209.0,1448,22.0,55.0
162034,2014,9,30,2257.0,-3.0,604.0,-9.0,DL,N374DA,761,SEA,DTW,230.0,1927,22.0,57.0
162035,2014,9,30,2303.0,-7.0,200.0,0.0,AS,N618AS,127,SEA,FAI,215.0,1533,23.0,3.0
162036,2014,9,30,2317.0,-3.0,732.0,19.0,UA,N27421,1246,SEA,IAD,293.0,2306,23.0,17.0
162037,2014,9,30,2320.0,20.0,10.0,16.0,AS,N713AS,698,SEA,GEG,36.0,224,23.0,20.0
162038,2014,9,30,2325.0,0.0,446.0,-19.0,AA,N3JKAA,1230,SEA,DFW,187.0,1660,23.0,25.0
162039,2014,9,30,2326.0,-4.0,513.0,-5.0,UA,N38473,1538,PDX,ORD,209.0,1739,23.0,26.0
162040,2014,9,30,2336.0,124.0,729.0,116.0,UA,N38443,1695,SEA,EWR,277.0,2402,23.0,36.0
162041,2014,9,30,2344.0,-1.0,527.0,-5.0,UA,N33286,1215,SEA,ORD,203.0,1721,23.0,44.0
162042,2014,9,30,2347.0,-3.0,229.0,-2.0,AS,N763AS,121,SEA,ANC,209.0,1448,23.0,47.0
162043,2014,9,30,2349.0,-1.0,514.0,-19.0,AS,N409AS,660,SEA,DFW,188.0,1660,23.0,49.0
162044,2014,9,30,2357.0,-2.0,545.0,-20.0,UA,N477UA,479,PDX,IAH,210.0,1825,23.0,57.0
162045,2014,9,30,2359.0,4.0,734.0,-1.0,DL,N137DL,1929,SEA,ATL,244.0,2182,23.0,59.0
162046,2014,9,30,0.0,0.0,0.0,0.0,AS,N530AS,470,SEA,SAN,0.0,1050,0.0,0.0
162047,2014,9,30,0.0,0.0,0.0,0.0,US,0,494,PDX,PHX,0.0,1009,0.0,0.0
162048,2014,9,30,0.0,0.0,0.0,0.0,WN,N790SW,427,SEA,SMF,0.0,605,0.0,0.0

In [19]:
# from lc US =1 and others 0 using numpy where a new column is used to show the value of us=1
import numpy as np
lr=c.copy()# do not use the changed copy
lr['US_CODE']=np.where(lr['carrier'].str.contains('US'),1,0)
lr

       carrier tailnum origin dest  US_CODE
0           AS  N508AS    PDX  ANC        0
1           US  N195UW    SEA  CLT        1
2           UA  N37422    PDX  IAH        0
3           US  N547UW    PDX  CLT        1
4           AS  N762AS    SEA  ANC        0
5           DL  N806DN    SEA  DTW        0
6           UA  N14219    SEA  ORD        0
7           UA  N813UA    PDX  IAH        0
8           UA  N75433    SEA  DEN        0
9           UA  N574UA    SEA  EWR        0
10          UA  N36476    PDX  DEN        0
11          US  N548UW    PDX  PHX        1
12          DL  N660DL    SEA  SLC        0
13          AA  N3JLAA    SEA  DFW        0
14          AS  N562AS    SEA  ANC        0
15          AS  N402AS    SEA  SJC        0
16          F9  N210FR    PDX  DEN        0
17          AA  N3JFAA    SEA  ORD        0
18          AS  N786AS    SEA  LAX        0
19          F9  N201FR    SEA  DEN        0
20          UA  N77295    PDX  ORD        0
21          AS  N577AS    SEA  OAK        0
22          UA  N37290    SEA  ORD        0
23          AS  N525AS    SEA  SFO        0
24          AS  N796AS    PDX  SJC        0
25          AS  N607AS    SEA  SNA        0
26          AS  N579AS    SEA  SAN        0
27          AA  N4XMAA    PDX  DFW        0
28          VX  N841VA    SEA  SFO        0
29          OO  N804SK    SEA  LAX        0
...        ...     ...    ...  ...      ...
162019      OO  N810SK    SEA  PDX        0
162020      B6  N526JB    SEA  JFK        0
162021      AS  N317AS    SEA  ANC        0
162022      UA  N462UA    PDX  EWR        0
162023      AS  N799AS    SEA  GEG        0
162024      DL  N655DL    SEA  JFK        0
162025      US  N199UW    SEA  CLT        1
162026      AS  N461AS    PDX  ANC        0
162027      AS  N583AS    SEA  PDX        0
162028      UA  N37408    SEA  IAH        0
162029      B6  N523JB    SEA  BOS        0
162030      DL  N130DL    SEA  ATL        0
162031      DL  N6716C    PDX  ATL        0
162032      UA  N18223    SEA  ORD        0
162033      AS  N318AS    SEA  ANC        0
162034      DL  N374DA    SEA  DTW        0
162035      AS  N618AS    SEA  FAI        0
162036      UA  N27421    SEA  IAD        0
162037      AS  N713AS    SEA  GEG        0
162038      AA  N3JKAA    SEA  DFW        0
162039      UA  N38473    PDX  ORD        0
162040      UA  N38443    SEA  EWR        0
162041      UA  N33286    SEA  ORD        0
162042      AS  N763AS    SEA  ANC        0
162043      AS  N409AS    SEA  DFW        0
162044      UA  N477UA    PDX  IAH        0
162045      DL  N137DL    SEA  ATL        0
162046      AS  N530AS    SEA  SAN        0
162047      US     NaN    PDX  PHX        1
162048      WN  N790SW    SEA  SMF        0

[162049 rows x 5 columns]

# machine learning library for label encoding sklearn preprocessing

In [20]:
mach=c.copy()
from sklearn.preprocessing import LabelEncoder# label encoder is a function
lb_make=LabelEncoder()# calling the function from variable
mach['carrier_code']= lb_make.fit_transform(c['carrier'])
mach.head()
print(mach.drop(['carrier'], axis = 1))

       tailnum origin dest  carrier_code
0       N508AS    PDX  ANC             1
1       N195UW    SEA  CLT             8
2       N37422    PDX  IAH             7
3       N547UW    PDX  CLT             8
4       N762AS    SEA  ANC             1
5       N806DN    SEA  DTW             3
6       N14219    SEA  ORD             7
7       N813UA    PDX  IAH             7
8       N75433    SEA  DEN             7
9       N574UA    SEA  EWR             7
10      N36476    PDX  DEN             7
11      N548UW    PDX  PHX             8
12      N660DL    SEA  SLC             3
13      N3JLAA    SEA  DFW             0
14      N562AS    SEA  ANC             1
15      N402AS    SEA  SJC             1
16      N210FR    PDX  DEN             4
17      N3JFAA    SEA  ORD             0
18      N786AS    SEA  LAX             1
19      N201FR    SEA  DEN             4
20      N77295    PDX  ORD             7
21      N577AS    SEA  OAK             1
22      N37290    SEA  ORD             7
23      N525AS    SEA  SFO             1
24      N796AS    PDX  SJC             1
25      N607AS    SEA  SNA             1
26      N579AS    SEA  SAN             1
27      N4XMAA    PDX  DFW             0
28      N841VA    SEA  SFO             9
29      N804SK    SEA  LAX             6
...        ...    ...  ...           ...
162019  N810SK    SEA  PDX             6
162020  N526JB    SEA  JFK             2
162021  N317AS    SEA  ANC             1
162022  N462UA    PDX  EWR             7
162023  N799AS    SEA  GEG             1
162024  N655DL    SEA  JFK             3
162025  N199UW    SEA  CLT             8
162026  N461AS    PDX  ANC             1
162027  N583AS    SEA  PDX             1
162028  N37408    SEA  IAH             7
162029  N523JB    SEA  BOS             2
162030  N130DL    SEA  ATL             3
162031  N6716C    PDX  ATL             3
162032  N18223    SEA  ORD             7
162033  N318AS    SEA  ANC             1
162034  N374DA    SEA  DTW             3
162035  N618AS    SEA  FAI             1
162036  N27421    SEA  IAD             7
162037  N713AS    SEA  GEG             1
162038  N3JKAA    SEA  DFW             0
162039  N38473    PDX  ORD             7
162040  N38443    SEA  EWR             7
162041  N33286    SEA  ORD             7
162042  N763AS    SEA  ANC             1
162043  N409AS    SEA  DFW             1
162044  N477UA    PDX  IAH             7
162045  N137DL    SEA  ATL             3
162046  N530AS    SEA  SAN             1
162047     NaN    PDX  PHX             8
162048  N790SW    SEA  SMF            10

[162049 rows x 4 columns]

## get dummies(): will add 1 for true and 0 for false(works on string)

In [21]:
# converting Series to DataFrame
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
df=pd.DataFrame(s)
df

               0
0           Tom
1   William Rick
2           John
3        Alber@t

In [22]:
s.str.get_dummies()# see the data clearly for tom only 1 is true so it has put 1 oon only first row next all rows 0

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [23]:
s.str.contains('T')

0     True
1    False
2    False
3    False
dtype: bool

In [24]:
# change the alber@t to alber$t
s.str.replace('Alber@t','Alber$t')# alternate way (@,$)

0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [25]:
s.str.repeat(2)

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [26]:
s.str.count('m')

0    1
1    1
2    0
3    0
dtype: int64

In [27]:
s.str.startswith('T')

0     True
1    False
2    False
3    False
dtype: bool

In [28]:
s.str.endswith('k')

0    False
1     True
2    False
3    False
dtype: bool

In [29]:
s.str.find('e')# -1 means its not there

0   -1
1   -1
2   -1
3    3
dtype: int64

In [30]:
s.str.findall('e')

0     []
1     []
2     []
3    [e]
dtype: object

# one hot encoding (when you want only 0 and 1)

In [31]:

a=c.copy()
a['carrier'].str.get_dummies()

        AA  AS  B6  DL  F9  HA  OO  UA  US  VX  WN
0        0   1   0   0   0   0   0   0   0   0   0
1        0   0   0   0   0   0   0   0   1   0   0
2        0   0   0   0   0   0   0   1   0   0   0
3        0   0   0   0   0   0   0   0   1   0   0
4        0   1   0   0   0   0   0   0   0   0   0
5        0   0   0   1   0   0   0   0   0   0   0
6        0   0   0   0   0   0   0   1   0   0   0
7        0   0   0   0   0   0   0   1   0   0   0
8        0   0   0   0   0   0   0   1   0   0   0
9        0   0   0   0   0   0   0   1   0   0   0
10       0   0   0   0   0   0   0   1   0   0   0
11       0   0   0   0   0   0   0   0   1   0   0
12       0   0   0   1   0   0   0   0   0   0   0
13       1   0   0   0   0   0   0   0   0   0   0
14       0   1   0   0   0   0   0   0   0   0   0
15       0   1   0   0   0   0   0   0   0   0   0
16       0   0   0   0   1   0   0   0   0   0   0
17       1   0   0   0   0   0   0   0   0   0   0
18       0   1   0   0   0   0   0   0   0   0   0
19       0   0   0   0   1   0   0   0   0   0   0
20       0   0   0   0   0   0   0   1   0   0   0
21       0   1   0   0   0   0   0   0   0   0   0
22       0   0   0   0   0   0   0   1   0   0   0
23       0   1   0   0   0   0   0   0   0   0   0
24       0   1   0   0   0   0   0   0   0   0   0
25       0   1   0   0   0   0   0   0   0   0   0
26       0   1   0   0   0   0   0   0   0   0   0
27       1   0   0   0   0   0   0   0   0   0   0
28       0   0   0   0   0   0   0   0   0   1   0
29       0   0   0   0   0   0   1   0   0   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
162019   0   0   0   0   0   0   1   0   0   0   0
162020   0   0   1   0   0   0   0   0   0   0   0
162021   0   1   0   0   0   0   0   0   0   0   0
162022   0   0   0   0   0   0   0   1   0   0   0
162023   0   1   0   0   0   0   0   0   0   0   0
162024   0   0   0   1   0   0   0   0   0   0   0
162025   0   0   0   0   0   0   0   0   1   0   0
162026   0   1   0   0   0   0   0   0   0   0   0
162027   0   1   0   0   0   0   0   0   0   0   0
162028   0   0   0   0   0   0   0   1   0   0   0
162029   0   0   1   0   0   0   0   0   0   0   0
162030   0   0   0   1   0   0   0   0   0   0   0
162031   0   0   0   1   0   0   0   0   0   0   0
162032   0   0   0   0   0   0   0   1   0   0   0
162033   0   1   0   0   0   0   0   0   0   0   0
162034   0   0   0   1   0   0   0   0   0   0   0
162035   0   1   0   0   0   0   0   0   0   0   0
162036   0   0   0   0   0   0   0   1   0   0   0
162037   0   1   0   0   0   0   0   0   0   0   0
162038   1   0   0   0   0   0   0   0   0   0   0
162039   0   0   0   0   0   0   0   1   0   0   0
162040   0   0   0   0   0   0   0   1   0   0   0
162041   0   0   0   0   0   0   0   1   0   0   0
162042   0   1   0   0   0   0   0   0   0   0   0
162043   0   1   0   0   0   0   0   0   0   0   0
162044   0   0   0   0   0   0   0   1   0   0   0
162045   0   0   0   1   0   0   0   0   0   0   0
162046   0   1   0   0   0   0   0   0   0   0   0
162047   0   0   0   0   0   0   0   0   1   0   0
162048   0   0   0   0   0   0   0   0   0   0   1

[162049 rows x 11 columns]

In [32]:
# another method

a=pd.get_dummies(a,columns=['carrier'],prefix=['carrier'])
a

,tailnum,origin,dest,carrier_AA,carrier_AS,carrier_B6,carrier_DL,carrier_F9,carrier_HA,carrier_OO,carrier_UA,carrier_US,carrier_VX,carrier_WN
0,N508AS,PDX,ANC,0,1,0,0,0,0,0,0,0,0,0
1,N195UW,SEA,CLT,0,0,0,0,0,0,0,0,1,0,0
2,N37422,PDX,IAH,0,0,0,0,0,0,0,1,0,0,0
3,N547UW,PDX,CLT,0,0,0,0,0,0,0,0,1,0,0
4,N762AS,SEA,ANC,0,1,0,0,0,0,0,0,0,0,0
5,N806DN,SEA,DTW,0,0,0,1,0,0,0,0,0,0,0
6,N14219,SEA,ORD,0,0,0,0,0,0,0,1,0,0,0
7,N813UA,PDX,IAH,0,0,0,0,0,0,0,1,0,0,0
8,N75433,SEA,DEN,0,0,0,0,0,0,0,1,0,0,0
9,N574UA,SEA,EWR,0,0,0,0,0,0,0,1,0,0,0
10,N36476,PDX,DEN,0,0,0,0,0,0,0,1,0,0,0
11,N548UW,PDX,PHX,0,0,0,0,0,0,0,0,1,0,0
12,N660DL,SEA,SLC,0,0,0,1,0,0,0,0,0,0,0
13,N3JLAA,SEA,DFW,1,0,0,0,0,0,0,0,0,0,0
14,N562AS,SEA,ANC,0,1,0,0,0,0,0,0,0,0,0
15,N402AS,SEA,SJC,0,1,0,0,0,0,0,0,0,0,0
16,N210FR,PDX,DEN,0,0,0,0,1,0,0,0,0,0,0
17,N3JFAA,SEA,ORD,1,0,0,0,0,0,0,0,0,0,0
18,N786AS,SEA,LAX,0,1,0,0,0,0,0,0,0,0,0
19,N201FR,SEA,DEN,0,0,0,0,1,0,0,0,0,0,0
20,N77295,PDX,ORD,0,0,0,0,0,0,0,1,0,0,0
21,N577AS,SEA,OAK,0,1,0,0,0,0,0,0,0,0,0
22,N37290,SEA,ORD,0,0,0,0,0,0,0,1,0,0,0
23,N525AS,SEA,SFO,0,1,0,0,0,0,0,0,0,0,0
24,N796AS,PDX,SJC,0,1,0,0,0,0,0,0,0,0,0
25,N607AS,SEA,SNA,0,1,0,0,0,0,0,0,0,0,0
26,N579AS,SEA,SAN,0,1,0,0,0,0,0,0,0,0,0
27,N4XMAA,PDX,DFW,1,0,0,0,0,0,0,0,0,0,0
28,N841VA,SEA,SFO,0,0,0,0,0,0,0,0,0,1,0
29,N804SK,SEA,LAX,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162019,N810SK,SEA,PDX,0,0,0,0,0,0,1,0,0,0,0
162020,N526JB,SEA,JFK,0,0,1,0,0,0,0,0,0,0,0
162021,N317AS,SEA,ANC,0,1,0,0,0,0,0,0,0,0,0
162022,N462UA,PDX,EWR,0,0,0,0,0,0,0,1,0,0,0
162023,N799AS,SEA,GEG,0,1,0,0,0,0,0,0,0,0,0
162024,N655DL,SEA,JFK,0,0,0,1,0,0,0,0,0,0,0
162025,N199UW,SEA,CLT,0,0,0,0,0,0,0,0,1,0,0
162026,N461AS,PDX,ANC,0,1,0,0,0,0,0,0,0,0,0
162027,N583AS,SEA,PDX,0,1,0,0,0,0,0,0,0,0,0
162028,N37408,SEA,IAH,0,0,0,0,0,0,0,1,0,0,0
162029,N523JB,SEA,BOS,0,0,1,0,0,0,0,0,0,0,0
162030,N130DL,SEA,ATL,0,0,0,1,0,0,0,0,0,0,0
162031,N6716C,PDX,ATL,0,0,0,1,0,0,0,0,0,0,0
162032,N18223,SEA,ORD,0,0,0,0,0,0,0,1,0,0,0
162033,N318AS,SEA,ANC,0,1,0,0,0,0,0,0,0,0,0
162034,N374DA,SEA,DTW,0,0,0,1,0,0,0,0,0,0,0
162035,N618AS,SEA,FAI,0,1,0,0,0,0,0,0,0,0,0
162036,N27421,SEA,IAD,0,0,0,0,0,0,0,1,0,0,0
162037,N713AS,SEA,GEG,0,1,0,0,0,0,0,0,0,0,0
162038,N3JKAA,SEA,DFW,1,0,0,0,0,0,0,0,0,0,0
162039,N38473,PDX,ORD,0,0,0,0,0,0,0,1,0,0,0
162040,N38443,SEA,EWR,0,0,0,0,0,0,0,1,0,0,0
162041,N33286,SEA,ORD,0,0,0,0,0,0,0,1,0,0,0
162042,N763AS,SEA,ANC,0,1,0,0,0,0,0,0,0,0,0
162043,N409AS,SEA,DFW,0,1,0,0,0,0,0,0,0,0,0
162044,N477UA,PDX,IAH,0,0,0,0,0,0,0,1,0,0,0
162045,N137DL,SEA,ATL,0,0,0,1,0,0,0,0,0,0,0
162046,N530AS,SEA,SAN,0,1,0,0,0,0,0,0,0,0,0
162047,NaN,PDX,PHX,0,0,0,0,0,0,0,0,1,0,0
162048,N790SW,SEA,SMF,0,0,0,0,0,0,0,0,0,0,1

In [33]:
flights_onehot_sklearn=flights.copy()
from sklearn.preprocessing import LabelBinarizer

In [34]:
lb=LabelBinarizer()
lb_results=lb.fit_transform(flights_onehot_sklearn['carrier'])
lb_results

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [35]:
lb_df=pd.DataFrame(lb_results)
lb_df

        0   1   2   3   4   5   6   7   8   9   10
0        0   1   0   0   0   0   0   0   0   0   0
1        0   0   0   0   0   0   0   0   1   0   0
2        0   0   0   0   0   0   0   1   0   0   0
3        0   0   0   0   0   0   0   0   1   0   0
4        0   1   0   0   0   0   0   0   0   0   0
5        0   0   0   1   0   0   0   0   0   0   0
6        0   0   0   0   0   0   0   1   0   0   0
7        0   0   0   0   0   0   0   1   0   0   0
8        0   0   0   0   0   0   0   1   0   0   0
9        0   0   0   0   0   0   0   1   0   0   0
10       0   0   0   0   0   0   0   1   0   0   0
11       0   0   0   0   0   0   0   0   1   0   0
12       0   0   0   1   0   0   0   0   0   0   0
13       1   0   0   0   0   0   0   0   0   0   0
14       0   1   0   0   0   0   0   0   0   0   0
15       0   1   0   0   0   0   0   0   0   0   0
16       0   0   0   0   1   0   0   0   0   0   0
17       1   0   0   0   0   0   0   0   0   0   0
18       0   1   0   0   0   0   0   0   0   0   0
19       0   0   0   0   1   0   0   0   0   0   0
20       0   0   0   0   0   0   0   1   0   0   0
21       0   1   0   0   0   0   0   0   0   0   0
22       0   0   0   0   0   0   0   1   0   0   0
23       0   1   0   0   0   0   0   0   0   0   0
24       0   1   0   0   0   0   0   0   0   0   0
25       0   1   0   0   0   0   0   0   0   0   0
26       0   1   0   0   0   0   0   0   0   0   0
27       1   0   0   0   0   0   0   0   0   0   0
28       0   0   0   0   0   0   0   0   0   1   0
29       0   0   0   0   0   0   1   0   0   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
162019   0   0   0   0   0   0   1   0   0   0   0
162020   0   0   1   0   0   0   0   0   0   0   0
162021   0   1   0   0   0   0   0   0   0   0   0
162022   0   0   0   0   0   0   0   1   0   0   0
162023   0   1   0   0   0   0   0   0   0   0   0
162024   0   0   0   1   0   0   0   0   0   0   0
162025   0   0   0   0   0   0   0   0   1   0   0
162026   0   1   0   0   0   0   0   0   0   0   0
162027   0   1   0   0   0   0   0   0   0   0   0
162028   0   0   0   0   0   0   0   1   0   0   0
162029   0   0   1   0   0   0   0   0   0   0   0
162030   0   0   0   1   0   0   0   0   0   0   0
162031   0   0   0   1   0   0   0   0   0   0   0
162032   0   0   0   0   0   0   0   1   0   0   0
162033   0   1   0   0   0   0   0   0   0   0   0
162034   0   0   0   1   0   0   0   0   0   0   0
162035   0   1   0   0   0   0   0   0   0   0   0
162036   0   0   0   0   0   0   0   1   0   0   0
162037   0   1   0   0   0   0   0   0   0   0   0
162038   1   0   0   0   0   0   0   0   0   0   0
162039   0   0   0   0   0   0   0   1   0   0   0
162040   0   0   0   0   0   0   0   1   0   0   0
162041   0   0   0   0   0   0   0   1   0   0   0
162042   0   1   0   0   0   0   0   0   0   0   0
162043   0   1   0   0   0   0   0   0   0   0   0
162044   0   0   0   0   0   0   0   1   0   0   0
162045   0   0   0   1   0   0   0   0   0   0   0
162046   0   1   0   0   0   0   0   0   0   0   0
162047   0   0   0   0   0   0   0   0   1   0   0
162048   0   0   0   0   0   0   0   0   0   0   1

[162049 rows x 11 columns]

In [36]:
#RENAMING THE COLUMNS
lb_df.columns=('AA','AS','B6','DL','F9','HA','OO','UA','US','VX','W')
lb_df

        AA  AS  B6  DL  F9  HA  OO  UA  US  VX  W
0        0   1   0   0   0   0   0   0   0   0  0
1        0   0   0   0   0   0   0   0   1   0  0
2        0   0   0   0   0   0   0   1   0   0  0
3        0   0   0   0   0   0   0   0   1   0  0
4        0   1   0   0   0   0   0   0   0   0  0
5        0   0   0   1   0   0   0   0   0   0  0
6        0   0   0   0   0   0   0   1   0   0  0
7        0   0   0   0   0   0   0   1   0   0  0
8        0   0   0   0   0   0   0   1   0   0  0
9        0   0   0   0   0   0   0   1   0   0  0
10       0   0   0   0   0   0   0   1   0   0  0
11       0   0   0   0   0   0   0   0   1   0  0
12       0   0   0   1   0   0   0   0   0   0  0
13       1   0   0   0   0   0   0   0   0   0  0
14       0   1   0   0   0   0   0   0   0   0  0
15       0   1   0   0   0   0   0   0   0   0  0
16       0   0   0   0   1   0   0   0   0   0  0
17       1   0   0   0   0   0   0   0   0   0  0
18       0   1   0   0   0   0   0   0   0   0  0
19       0   0   0   0   1   0   0   0   0   0  0
20       0   0   0   0   0   0   0   1   0   0  0
21       0   1   0   0   0   0   0   0   0   0  0
22       0   0   0   0   0   0   0   1   0   0  0
23       0   1   0   0   0   0   0   0   0   0  0
24       0   1   0   0   0   0   0   0   0   0  0
25       0   1   0   0   0   0   0   0   0   0  0
26       0   1   0   0   0   0   0   0   0   0  0
27       1   0   0   0   0   0   0   0   0   0  0
28       0   0   0   0   0   0   0   0   0   1  0
29       0   0   0   0   0   0   1   0   0   0  0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  .. ..
162019   0   0   0   0   0   0   1   0   0   0  0
162020   0   0   1   0   0   0   0   0   0   0  0
162021   0   1   0   0   0   0   0   0   0   0  0
162022   0   0   0   0   0   0   0   1   0   0  0
162023   0   1   0   0   0   0   0   0   0   0  0
162024   0   0   0   1   0   0   0   0   0   0  0
162025   0   0   0   0   0   0   0   0   1   0  0
162026   0   1   0   0   0   0   0   0   0   0  0
162027   0   1   0   0   0   0   0   0   0   0  0
162028   0   0   0   0   0   0   0   1   0   0  0
162029   0   0   1   0   0   0   0   0   0   0  0
162030   0   0   0   1   0   0   0   0   0   0  0
162031   0   0   0   1   0   0   0   0   0   0  0
162032   0   0   0   0   0   0   0   1   0   0  0
162033   0   1   0   0   0   0   0   0   0   0  0
162034   0   0   0   1   0   0   0   0   0   0  0
162035   0   1   0   0   0   0   0   0   0   0  0
162036   0   0   0   0   0   0   0   1   0   0  0
162037   0   1   0   0   0   0   0   0   0   0  0
162038   1   0   0   0   0   0   0   0   0   0  0
162039   0   0   0   0   0   0   0   1   0   0  0
162040   0   0   0   0   0   0   0   1   0   0  0
162041   0   0   0   0   0   0   0   1   0   0  0
162042   0   1   0   0   0   0   0   0   0   0  0
162043   0   1   0   0   0   0   0   0   0   0  0
162044   0   0   0   0   0   0   0   1   0   0  0
162045   0   0   0   1   0   0   0   0   0   0  0
162046   0   1   0   0   0   0   0   0   0   0  0
162047   0   0   0   0   0   0   0   0   1   0  0
162048   0   0   0   0   0   0   0   0   0   0  1

[162049 rows x 11 columns]

In [37]:
# ANOTHER WAY
lb_df=pd.DataFrame(lb_df,columns=lb.classes_)
lb_df.head()

   AA  AS  B6  DL  F9  HA  OO  UA  US  VX  WN
0   0   1   0   0   0   0   0   0   0   0 NaN
1   0   0   0   0   0   0   0   0   1   0 NaN
2   0   0   0   0   0   0   0   1   0   0 NaN
3   0   0   0   0   0   0   0   0   1   0 NaN
4   0   1   0   0   0   0   0   0   0   0 NaN

In [38]:
merged=pd.merge(flights,lb_df,left_index=True,right_index=True)
merged.head()
# another way
add=pd.concat([flights,lb_df],axis=1)
add.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,...,AS,B6,DL,F9,HA,OO,UA,US,VX,WN
0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,...,1,0,0,0,0,0,0,0,0,NaN
1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,...,0,0,0,0,0,0,0,1,0,NaN
2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,...,0,0,0,0,0,0,1,0,0,NaN
3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,...,0,0,0,0,0,0,0,1,0,NaN
4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,...,1,0,0,0,0,0,0,0,0,NaN

# the above encoding works on small number of columns
# Hence we come up with a new encoding
# Binary encoding

In [39]:
flights_ce=flights.copy()
import category_encoders as ce

In [40]:
! pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\bhargavi\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (0.20.3)
Requirement already satisfied: numpy>=1.11.3 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (1.16.2)
Requirement already satisfied: patsy>=0.4.1 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (1.2.1)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\bhargavi\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: six in c:\users\bhargavi\anaconda3\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\bhargavi\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\bhargavi\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [41]:
flights_ce=c.copy()
import category_encoders as ce

In [42]:
encoder=ce.BinaryEncoder(cols=['carrier'])
df_binary=encoder.fit_transform(flights_ce)
df_binary.head()

   carrier_0  carrier_1  carrier_2  carrier_3  carrier_4 tailnum origin dest
0          0          0          0          0          1  N508AS    PDX  ANC
1          0          0          0          1          0  N195UW    SEA  CLT
2          0          0          0          1          1  N37422    PDX  IAH
3          0          0          0          1          0  N547UW    PDX  CLT
4          0          0          0          0          1  N762AS    SEA  ANC

# backward difference encoder- gives the values in the form of slopes and intercept (not used much)

In [43]:
enc=ce.BackwardDifferenceEncoder(cols=['carrier'])
df_bd=enc.fit_transform(flights_ce)
df_bd.head()

,intercept,carrier_0,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,carrier_9,tailnum,origin,dest
0,1,-0.909091,-0.818182,-0.727273,-0.636364,-0.545455,-0.454545,-0.363636,-0.272727,-0.181818,-0.090909,N508AS,PDX,ANC
1,1,0.090909,-0.818182,-0.727273,-0.636364,-0.545455,-0.454545,-0.363636,-0.272727,-0.181818,-0.090909,N195UW,SEA,CLT
2,1,0.090909,0.181818,-0.727273,-0.636364,-0.545455,-0.454545,-0.363636,-0.272727,-0.181818,-0.090909,N37422,PDX,IAH
3,1,0.090909,-0.818182,-0.727273,-0.636364,-0.545455,-0.454545,-0.363636,-0.272727,-0.181818,-0.090909,N547UW,PDX,CLT
4,1,-0.909091,-0.818182,-0.727273,-0.636364,-0.545455,-0.454545,-0.363636,-0.272727,-0.181818,-0.090909,N762AS,SEA,ANC

In [44]:
import pandas as pd
raw_data={'age':['0-20','20-40','40-60','60-80']}
raw_data
raw_df=pd.DataFrame(raw_data)
raw_df

     age
0   0-20
1  20-40
2  40-60
3  60-80

In [45]:
a=raw_df['age'].str.split("-",n=1,expand=True)
a

    0   1
0   0  20
1  20  40
2  40  60
3  60  80

In [46]:
concat=pd.concat([raw_df,a],axis=1)
concat

     age   0   1
0   0-20   0  20
1  20-40  20  40
2  40-60  40  60
3  60-80  60  80

In [47]:
concat.columns=('age','start','end')
concat

     age start end
0   0-20     0  20
1  20-40    20  40
2  40-60    40  60
3  60-80    60  80

In [48]:
# another method using lambda

raw_df['start'],raw_df['end']=zip(*raw_df['age'].map(lambda x:x.split('-')))
raw_df

     age start end
0   0-20     0  20
1  20-40    20  40
2  40-60    40  60
3  60-80    60  80

In [49]:
#assignment #replacing the start and end with age mean
raw=pd.DataFrame(a.mean(axis=1,skipna=True))
raw.columns=['age_mean']
raw

concat_1=pd.concat([raw_df,raw],axis=1)
concat_1

   age_mean
0      10.0
1    1020.0
2    2030.0
3    3040.0